# Thư viện NodeJS (Rất nặng, không nên đẩy lên Git)
node_modules/

# File cấu hình bảo mật (Chứa mật khẩu Database, JWT Secret)
.env

# File hệ thống (Tự sinh ra bởi hệ điều hành)
.DS_Store
Thumbs.db

# File log và build (Nếu có)
npm-debug.log*
dist/